@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=H4cyBXePl9DZ0Xe7gG9cyOj7uK2-n-D2rd4FY7SwqyWv6wDokZUVpf5gZOJ6MV0-hwj1Ru_pqOumDFilnonDm0-5VYBR5zQgPkTbD1n3ueDfaoRHUMAi9T0nu7Dg4DNIH7Of0coS3BDm-9C3-GSB96pAgqCtKuQNCHmGE0lxINxIu0UUXEAlFWcV6pqXv-strnDsARoc40HOF1eSmzFwO9xKvHSXr8178h3IBIls&skey=37fe335b8fd815cc&v=v35) format('truetype');
}
